---
# SETTINGS
layout: save-the-date.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# CONTENT
content:
    brand:
      # GMail auto-renders URL-like text as links, use spans to prevent this
      title: '<span>mysite</span><span>.</span><span>com</span>'
      # url: 'https://mysyite.com'
    headline: save the date
    subline: newsletter template
    quote: 'with sample content'
    location: 
        title: 505FM Concert Hall
        address: >
            Tuxedo Building, Main Street 505, 50555 Capitol City
    admission:        
        date: Thursday, Nov 14th 2024
        time: Doors open 8pm
        fee: >
            Admission 10 EUR
    tickets:
        # comment-out url to disable section
        url: https://events.mysyite.com
        title: Get Tickets
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com
        superscript: meet us on
        title: Facebook
    poster:
        # comment-out url to disable section
        url: '../src/img/david-holifield-unsplash_480.jpg'
        attribution: 'Photo: David Holifield via Unsplash'
    links:
        # comment-out title to disable section
        title: 'Speakers and Reports'
        items:
            - title: 'Orci varius natoque penatibus vivamus sapien'
              url: https://kittyfishfrommars.github.io
              text: >
                  Tempor eu pellentesque Dolor sit amen nulla sequintur fox abet.
                  Varius natoque penatibus vivamus sapien nisi, tempor eu pellentesque. Pellentesque molestie nunc id nibh finibus.
            - title: 'Dolor sit amen nulla sequintur fox abet'
              url: https://kittyfishfrommars.github.io
              text: >
                  Vivamus sapien nisi. Pellentesque molestie nunc id nibh finibus. Scelerisque efficitur turpis sed.
            - title: 'Efficitur turpis sed, mollis pretium ante'
              url: https://kittyfishfrommars.github.io
              text: >
                  Orci varius natoque penatibus vivamus sapien nisi, tempor eu pellentesque. Pellentesque molestie nunc id nibh finibus.
            - title: 'Pellentesque molestie nunc id nibh sapien nisi'
              url: https://kittyfishfrommars.github.io
              text: >
                  Tempor eu pellentesque Dolor sit amen nulla sequintur fox abet. 
                  Vivamus sapien nisi. Pellentesque molestie nunc id nibh finibus.
            - title: 'Scelerisque efficitur turpis sed'
              url: https://kittyfishfrommars.github.io
              text: >
                  Dolor sit amen nulla sequintur fox abet. 
                  Vivamus sapien nisi, tempor eu pellentesque. Pellentesque molestie nunc id nibh finibus.

# FOOTER
footer:
    # Legal Notice
    imprint: >
            Organizer: Joan Q. Public | <a href="https://mysyite.com/contact" target="_blank">Legal Notice</a>
    # mandatory unsubscribe link
    unsubscribe: >
            If you do not wish to receive any more updates, you may <a href="https://MYSITE.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">unsubscribe here</a>.
---
<b>About this event</b>
<br><br>
Dolor sit amen nulla sequintur <a href="https://www.youtube.com/watch?v=knv3fceFZJ0" target="_blank">Sound Matters</a>.
<br><br>
In et placerat dui, eu imperdiet arcu. Maecenas eros augue, scelerisque efficitur turpis sed, mollis pretium ante. Donec semper imperdiet nulla, at porttitor odio lacinia eleifend.
<br><br>
Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
